@import "tailwindcss";

.markdown-container p { margin-bottom: 0.5rem; }
.markdown-container ul { list-style-type: disc; padding-left: 1.5rem; margin-bottom: 0.5rem; }
.markdown-container ol { list-style-type: decimal; padding-left: 1.5rem; margin-bottom: 0.5rem; }
.markdown-container strong { font-weight: 700; color: inherit; }
.markdown-container h1, .markdown-container h2, .markdown-container h3 { font-weight: 700; margin-top: 0.5rem; margin-bottom: 0.25rem; }
